/*
reset
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
general
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}
.main-container {
    max-height: 1000px;
}
.row-box-main {
    height: calc(100%/2);
}

.row {
    margin: 0 auto;
    height: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.row:first-child {
    width: calc(4);
}
.row-shop {
    width: calc(4);
}
.row-logo {
    width: calc(100%/2);
    text-align: center;
}

img {
    max-width: 100%;
}

h6 {
    color: white;
    font-size: 0.5rem;
}
p {
    color: black;
    font-size: 0.8rem;
}
a {
    text-decoration: none;
    margin: 0 5px;
    color: white;
}
.sale {
    color: red;
}
s {
    color: black;
}


/*
header
*/
.boolean-logo {
    width: 15%;
}
.list-link>ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}
.row-box {
    background-color: orange;
}


/*
main
*/
.row-main {
    max-width: 80%;
    max-height: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box-img {
    padding: 20px;
    margin: 0 10px;
}
.row-container-center {
    margin: 0 30px;
}
.row-container-left {
    margin-left: 0 -15px;

}
.row-container-right {
    margin-right: 0 -15px;

}
.column {
    padding: 20px;
}
.come-zucchero-filato {
    background-image: url(../img/3.webp);
    max-height: 100%;
}

/*
footer
*/
.row-box-footer {
    background-color: #33333f;
    border-bottom: 1px solid white;
}
footer p {
    color: white;
    font-size: 0.5rem;
}